{% extends "main/base.html" %} {% block scripts %}
{% endblock %} {% block content %}
<div class='container'>
    <div class='row'>
         <div class='col-12'>
             <div class="alert alert-primary" role="alert" style=' min-height: 800px;'>
    <p></p>
   <b>The assumptions for the rainwater harvesting calculator include:</b>
    <p_></p_>
    <b> The coefficients for the rainwater harvesting calculator include:</b>
     the tin roof has a rainwater coefficient of 0.7 - 0.9
     the tiles roof has a rainwater coefficient of 0.8 - 0.9
             </div>
         </div>
    </div>
</div>
{% endblock %}